<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DUBU
        link(rel="stylesheet", href="/css/styles.css")
    body
        .app
            .app__col1
            .app__col2
            .app__col3
                .app__col3__col1
                .app__col3__col2
                    .app__col3__col2__col1
                    .app__col3__col2__col2
            .app__col4
                .app__col4__col1
                .app__col4__col2
                .app__col4__col3
                .app__col4__col4
                .app__col4__col5
            .app__col5
                .app__col5__col1
                .app__col5__col2
                .app__col5__col3
            .app__col6
                .app__col6__col1
                    .app__col6__col1__col1
                    .app__col6__col1__col2
                .app__col6__col2
                    .app__col6__col2__col1
                    .app__col6__col2__col2
                    .app__col6__col2__col3
                        .app__col6__col2__col3__col1
                        .app__col6__col2__col3__col2
                    
                




